.description {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    opacity: 0;
    pointer-events: none;
    transition: 300ms all;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    padding-left: 150px;
    z-index: 2;
}

.addBookForm {
    width: 25%;
}

.removeBookForm {
    width: 25%;
}

.addQuoteForm {
    width: 25%;
}

.addCritiqueForm {
    width: 25%;
}

.exploreBookForm {
    width: 50%;
}

/*.notificationForm {*/
/*    width: 100%;*/
/*}*/

.description.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
    pointer-events: all;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.descriptionContent {
    height: auto;
    padding: 20px;
    border-radius: 40px;
    background-color: white;
    transform: scale(0.9);
    transition: 200ms all;
    margin: 40px auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.descriptionContent.active {
    transform:  translateZ(0px)
}